/* ############################### **
   Light + Dark Mode Colors               
** ############################### */


/* ------------------------------- **
   Semantic Color               
** ------------------------------- */

@theme {

  /* WIPE THE DEFAULT TAILWIND COLORS */
  --color-*: initial;

  /* 2. (Optional but recommended) Add back transparent and current */
  --color-transparent: transparent;
  --color-current: currentColor;

  /* ink / text */
  --color-ink-90: var(--color-neutral-900);
  --color-ink-80: var(--color-neutral-800);
  --color-ink-70: var(--color-neutral-700);
  --color-ink-60: var(--color-neutral-600);
  --color-ink-50: var(--color-neutral-500);
  --color-ink-40: var(--color-neutral-400);
  --color-ink-30: var(--color-neutral-300);
  --color-ink-20: var(--color-neutral-200);
  --color-ink-10: var(--color-neutral-100);

  /* publics */
  --color-border: var(--color-neutral-300);

  /* buttons */
  --color-button: var(--color-neutral-900);
  --color-button-hover-high: var(--color-neutral-750);
  --color-button-hover-low: var(--color-neutral-250);
  --color-button-active: var(--color-neutral-300);

  /* surfaces */
  /* level-1 = layout */
  --color-level-1: var(--color-level-1);
  --color-level-1-hover: var(--color-level-1-hover);
  --color-level-1-active: var(--color-level-1-active);

  /* level-2 = content */
  --color-level-2: var(--color-level-2);
  --color-level-2-hover: var(--color-level-2-hover);
  --color-level-2-active: var(--color-level-2-active);
}

/* ------------------------------- **
   Colored Semantics                
** ------------------------------- */

.theme-neutral {
  /* level-1 = layout */
  --color-level-1: var(--color-neutral-200);
  --color-level-1-hover: var(--color-neutral-250);
  --color-level-1-active: var(--color-accent-300);

  /* level-2 = content */
  --color-level-2: var(--color-neutral-100);
  --color-level-2-hover: var(--color-neutral-150);
  --color-level-2-active: var(--color-accent-200);
}

.theme-accent {
  /* level-1 = layout */
  --color-level-1: var(--color-accent-200);
  --color-level-1-hover: var(--color-accent-300);
  --color-level-1-active: var(--color-accent-400);

  /* level-2 = content */
  --color-level-2: var(--color-accent-100);
  --color-level-2-hover: var(--color-accent-200);
  --color-level-2-active: var(--color-accent-300);

  /* ink / text */
  --color-ink-90: var(--color-accent-600);
  /* --color-ink-80: var(--color-accent-800);
  --color-ink-70: var(--color-accent-700);
  --color-ink-60: var(--color-accent-600);
  --color-ink-50: var(--color-accent-500);
  --color-ink-40: var(--color-accent-400);
  --color-ink-30: var(--color-accent-300);
  --color-ink-20: var(--color-accent-200);
  --color-ink-10: var(--color-accent-100); */

  /* publics */
  --color-border: var(--color-accent-300);

  /* buttons */
  --color-button: var(--color-accent-900);
  --color-button-hover-high: var(--color-accent-800);
  --color-button-hover-low: var(--color-accent-200);
  --color-button-active: var(--color-accent-300);
}



/* ------------------------------- **
   Primitive Colors                
** ------------------------------- */

@theme {

  /* Colors (Generates bg-*, text-*, border-*, etc.) */

  /* neutral */
  --color-neutral-50: var(--color-neutral-50);
  --color-neutral-100: var(--color-neutral-100);
  --color-neutral-150: var(--color-neutral-150);
  --color-neutral-200: var(--color-neutral-200);
  --color-neutral-250: var(--color-neutral-250);
  --color-neutral-300: var(--color-neutral-300);
  --color-neutral-350: var(--color-neutral-350);
  --color-neutral-400: var(--color-neutral-400);
  --color-neutral-450: var(--color-neutral-450);
  --color-neutral-500: var(--color-neutral-500);
  --color-neutral-550: var(--color-neutral-550);
  --color-neutral-600: var(--color-neutral-600);
  --color-neutral-650: var(--color-neutral-650);
  --color-neutral-700: var(--color-neutral-700);
  --color-neutral-750: var(--color-neutral-750);
  --color-neutral-800: var(--color-neutral-800);
  --color-neutral-850: var(--color-neutral-850);
  --color-neutral-900: var(--color-neutral-900);
  --color-neutral-950: var(--color-neutral-950);

  /* accent */
  --color-accent-100: var(--color-accent-100);
  --color-accent-200: var(--color-accent-200);
  --color-accent-300: var(--color-accent-300);
  --color-accent-400: var(--color-accent-400);
  --color-accent-500: var(--color-accent-500);
  --color-accent-600: var(--color-accent-600);
  --color-accent-700: var(--color-accent-700);
  --color-accent-800: var(--color-accent-800);
  --color-accent-900: var(--color-accent-900);

  /* purpur */
  --color-purpur-100: var(--color-purpur-100);
  --color-purpur-200: var(--color-purpur-200);
  --color-purpur-300: var(--color-purpur-300);
  --color-purpur-400: var(--color-purpur-400);
  --color-purpur-500: var(--color-purpur-500);
  --color-purpur-600: var(--color-purpur-600);
  --color-purpur-700: var(--color-purpur-700);
  --color-purpur-800: var(--color-purpur-800);
  --color-purpur-900: var(--color-purpur-900);

  /* purple */
  --color-purple-100: var(--color-purple-100);
  --color-purple-200: var(--color-purple-200);
  --color-purple-300: var(--color-purple-300);
  --color-purple-400: var(--color-purple-400);
  --color-purple-500: var(--color-purple-500);
  --color-purple-600: var(--color-purple-600);
  --color-purple-700: var(--color-purple-700);
  --color-purple-800: var(--color-purple-800);
  --color-purple-900: var(--color-purple-900);

  /* blue */
  --color-blue-100: var(--color-blue-100);
  --color-blue-200: var(--color-blue-200);
  --color-blue-300: var(--color-blue-300);
  --color-blue-400: var(--color-blue-400);
  --color-blue-500: var(--color-blue-500);
  --color-blue-600: var(--color-blue-600);
  --color-blue-700: var(--color-blue-700);
  --color-blue-800: var(--color-blue-800);
  --color-blue-900: var(--color-blue-900);

  /* cyan */
  --color-cyan-100: var(--color-cyan-100);
  --color-cyan-200: var(--color-cyan-200);
  --color-cyan-300: var(--color-cyan-300);
  --color-cyan-400: var(--color-cyan-400);
  --color-cyan-500: var(--color-cyan-500);
  --color-cyan-600: var(--color-cyan-600);
  --color-cyan-700: var(--color-cyan-700);
  --color-cyan-800: var(--color-cyan-800);
  --color-cyan-900: var(--color-cyan-900);

  /* green */
  --color-green-100: var(--color-green-100);
  --color-green-200: var(--color-green-200);
  --color-green-300: var(--color-green-300);
  --color-green-400: var(--color-green-400);
  --color-green-500: var(--color-green-500);
  --color-green-600: var(--color-green-600);
  --color-green-700: var(--color-green-700);
  --color-green-800: var(--color-green-800);
  --color-green-900: var(--color-green-900);

  /* yellow */
  --color-yellow-100: var(--color-yellow-100);
  --color-yellow-200: var(--color-yellow-200);
  --color-yellow-300: var(--color-yellow-300);
  --color-yellow-400: var(--color-yellow-400);
  --color-yellow-500: var(--color-yellow-500);
  --color-yellow-600: var(--color-yellow-600);
  --color-yellow-700: var(--color-yellow-700);
  --color-yellow-800: var(--color-yellow-800);
  --color-yellow-900: var(--color-yellow-900);

  /* orange */
  --color-orange-100: var(--color-orange-100);
  --color-orange-200: var(--color-orange-200);
  --color-orange-300: var(--color-orange-300);
  --color-orange-400: var(--color-orange-400);
  --color-orange-500: var(--color-orange-500);
  --color-orange-600: var(--color-orange-600);
  --color-orange-700: var(--color-orange-700);
  --color-orange-800: var(--color-orange-800);
  --color-orange-900: var(--color-orange-900);

  /* red */
  --color-red-100: var(--color-red-100);
  --color-red-200: var(--color-red-200);
  --color-red-300: var(--color-red-300);
  --color-red-400: var(--color-red-400);
  --color-red-500: var(--color-red-500);
  --color-red-600: var(--color-red-600);
  --color-red-700: var(--color-red-700);
  --color-red-800: var(--color-red-800);
  --color-red-900: var(--color-red-900);

  /* magenta */
  --color-magenta-100: var(--color-magenta-100);
  --color-magenta-200: var(--color-magenta-200);
  --color-magenta-300: var(--color-magenta-300);
  --color-magenta-400: var(--color-magenta-400);
  --color-magenta-500: var(--color-magenta-500);
  --color-magenta-600: var(--color-magenta-600);
  --color-magenta-700: var(--color-magenta-700);
  --color-magenta-800: var(--color-magenta-800);
  --color-magenta-900: var(--color-magenta-900);
}


/* ------------------------------- **
   Tokens                
** ------------------------------- */

/* 2. LIGHT MODE RAW VALUES (Default) */
.mode-light {

  /* neutral */
  --color-neutral-50: #FFFFFF;
  --color-neutral-100: #FFFFFF;
  --color-neutral-150: #FBFBFB;
  --color-neutral-200: #F6F6F7;
  --color-neutral-250: #DDDDE1;
  --color-neutral-300: #C4C5CA;
  --color-neutral-350: #B5B6BD;
  --color-neutral-400: #A6A8B0;
  --color-neutral-450: #9496A0;
  --color-neutral-500: #828590;
  --color-neutral-550: #70747F;
  --color-neutral-600: #60636D;
  --color-neutral-650: #50535A;
  --color-neutral-700: #404248;
  --color-neutral-750: #303236;
  --color-neutral-800: #202124;
  --color-neutral-850: #101112;
  --color-neutral-900: #020203;
  --color-neutral-950: #020203;

  /* accent */
  --color-accent-100: #F1EDFE;
  --color-accent-200: #E2DBFD;
  --color-accent-300: #C6B7FB;
  --color-accent-400: #AA93F8;
  --color-accent-500: #7042F5;
  --color-accent-600: #5A35C4;
  --color-accent-700: #432893;
  --color-accent-800: #2D1A62;
  --color-accent-900: #160D31;

  /* purpur */
  --color-purpur-100: #E7D6F8;
  --color-purpur-200: #E2C8FE;
  --color-purpur-300: #B685EA;
  --color-purpur-400: #9D5CE3;
  --color-purpur-500: #8533DC;
  --color-purpur-600: #6A20B9;
  --color-purpur-700: #50188B;
  --color-purpur-800: #35105D;
  --color-purpur-900: #1B082E;

  /* purple */
  --color-purple-100: #CBCAEE;
  --color-purple-200: #9894DD;
  --color-purple-300: #645FCC;
  --color-purple-400: #3D37AD;
  --color-purple-500: #2A2678;
  --color-purple-600: #221E60;
  --color-purple-700: #191748;
  --color-purple-800: #110F30;
  --color-purple-900: #080818;

  /* blue */
  --color-blue-100: #D9DBF8;
  --color-blue-200: #B3B7F1;
  --color-blue-300: #8C92E9;
  --color-blue-400: #666EE2;
  --color-blue-500: #404ADB;
  --color-blue-600: #242EBE;
  --color-blue-700: #1B228F;
  --color-blue-800: #12175F;
  --color-blue-900: #090B30;

  /* cyan */
  --color-cyan-100: #DAFAF4;
  --color-cyan-200: #B4F5E9;
  --color-cyan-300: #8FF0DE;
  --color-cyan-400: #69EBD3;
  --color-cyan-500: #44E6C8;
  --color-cyan-600: #1CD2B1;
  --color-cyan-700: #159E84;
  --color-cyan-800: #0E6958;
  --color-cyan-900: #07352C;

  /* green */
  --color-green-100: #D5FAE1;
  --color-green-200: #D7FEE4;
  --color-green-300: #82EFA6;
  --color-green-400: #58EA89;
  --color-green-500: #2EE56B;
  --color-green-600: #18C451;
  --color-green-700: #12933D;
  --color-green-800: #0C6229;
  --color-green-900: #063114;

  /* yellow */
  --color-yellow-100: #F9FADB;
  --color-yellow-200: #F3F5B7;
  --color-yellow-300: #ECEF92;
  --color-yellow-400: #E6EA6E;
  --color-yellow-500: #E0E54A;
  --color-yellow-600: #D4CC1F;
  --color-yellow-700: #9F8F17;
  --color-yellow-800: #6A5810;
  --color-yellow-900: #352908;

  /* orange */
  --color-orange-100: #F9EDD7;
  --color-orange-200: #F3DAB1;
  --color-orange-300: #EEC58B;
  --color-orange-400: #E8AF66;
  --color-orange-500: #E29640;
  --color-orange-600: #C86F1F;
  --color-orange-700: #954C18;
  --color-orange-800: #622E10;
  --color-orange-900: #301408;

  /* red */
  --color-red-100: #F8D9D9;
  --color-red-200: #F1B3B3;
  --color-red-300: #E98C8C;
  --color-red-400: #E26666;
  --color-red-500: #DB4040;
  --color-red-600: #BE2424;
  --color-red-700: #8F1B1B;
  --color-red-800: #5F1212;
  --color-red-900: #300909;

  /* magenta */
  --color-magenta-100: #F8D9F5;
  --color-magenta-200: #F1B3EB;
  --color-magenta-300: #E98CE2;
  --color-magenta-400: #E266D8;
  --color-magenta-500: #DB40CE;
  --color-magenta-600: #BE24B2;
  --color-magenta-700: #8F1B85;
  --color-magenta-800: #5F1259;
  --color-magenta-900: #30092C;


}

/* 3. DARK MODE RAW VALUES */
.mode-dark {

  /* neutral */
  --color-neutral-50: #020203;
  --color-neutral-100: #070708;
  --color-neutral-150: #0B0C0E;
  --color-neutral-200: #121316;
  --color-neutral-250: #21252B;
  --color-neutral-300: #262931;
  --color-neutral-350: #2E3139;
  --color-neutral-400: #373A43;
  --color-neutral-450: #484C57;
  --color-neutral-500: #595D6B;
  --color-neutral-550: #6A6F7F;
  --color-neutral-600: #7D8191;
  --color-neutral-650: #9294A1;
  --color-neutral-700: #A6A7B2;
  --color-neutral-750: #BABBC3;
  --color-neutral-800: #CECFD4;
  --color-neutral-850: #E2E2E5;
  --color-neutral-900: #F6F6F7;
  --color-neutral-950: #FBFBFB;

  /* accent */
  --color-accent-100: #140E24;
  --color-accent-200: #281C48;
  --color-accent-300: #3D2A6C;
  --color-accent-400: #6546B4;
  --color-accent-500: #9D7BFF;
  --color-accent-600: #B196FF;
  --color-accent-700: #C5B0FF;
  --color-accent-800: #D9CBFF;
  --color-accent-900: #EDE6FF;

  /* purpur */
  --color-purpur-100: #1B082E;
  --color-purpur-200: #1B1026;
  --color-purpur-300: #50188B;
  --color-purpur-400: #6A20B9;
  --color-purpur-500: #8533DC;
  --color-purpur-600: #9D5CE3;
  --color-purpur-700: #B685EA;
  --color-purpur-800: #CEADF1;
  --color-purpur-900: #E7D6F8;

  /* purple */
  --color-purple-100: #080818;
  --color-purple-200: #110F30;
  --color-purple-300: #191748;
  --color-purple-400: #221E60;
  --color-purple-500: #2A2678;
  --color-purple-600: #3D37AD;
  --color-purple-700: #645FCC;
  --color-purple-800: #9894DD;
  --color-purple-900: #CBCAEE;

  /* blue */
  --color-blue-100: #D9DBF8;
  --color-blue-200: #B3B7F1;
  --color-blue-300: #8C92E9;
  --color-blue-400: #666EE2;
  --color-blue-500: #404ADB;
  --color-blue-600: #242EBE;
  --color-blue-700: #1B228F;
  --color-blue-800: #12175F;
  --color-blue-900: #090B30;

  /* cyan */
  --color-cyan-100: #DAFAF4;
  --color-cyan-200: #B4F5E9;
  --color-cyan-300: #8FF0DE;
  --color-cyan-400: #69EBD3;
  --color-cyan-500: #44E6C8;
  --color-cyan-600: #1CD2B1;
  --color-cyan-700: #159E84;
  --color-cyan-800: #0E6958;
  --color-cyan-900: #07352C;

  /* green */
  --color-green-100: #D5FAE1;
  --color-green-200: #D7FEE4;
  --color-green-300: #82EFA6;
  --color-green-400: #58EA89;
  --color-green-500: #2EE56B;
  --color-green-600: #18C451;
  --color-green-700: #12933D;
  --color-green-800: #0C6229;
  --color-green-900: #063114;

  /* yellow */
  --color-yellow-100: #F9FADB;
  --color-yellow-200: #F3F5B7;
  --color-yellow-300: #ECEF92;
  --color-yellow-400: #E6EA6E;
  --color-yellow-500: #E0E54A;
  --color-yellow-600: #D4CC1F;
  --color-yellow-700: #9F8F17;
  --color-yellow-800: #6A5810;
  --color-yellow-900: #352908;

  /* orange */
  --color-orange-100: #F9EDD7;
  --color-orange-200: #F3DAB1;
  --color-orange-300: #EEC58B;
  --color-orange-400: #E8AF66;
  --color-orange-500: #E29640;
  --color-orange-600: #C86F1F;
  --color-orange-700: #954C18;
  --color-orange-800: #622E10;
  --color-orange-900: #301408;

  /* red */
  --color-red-100: #F8D9D9;
  --color-red-200: #F1B3B3;
  --color-red-300: #E98C8C;
  --color-red-400: #E26666;
  --color-red-500: #DB4040;
  --color-red-600: #BE2424;
  --color-red-700: #8F1B1B;
  --color-red-800: #5F1212;
  --color-red-900: #300909;

  /* magenta */
  --color-magenta-100: #F8D9F5;
  --color-magenta-200: #F1B3EB;
  --color-magenta-300: #E98CE2;
  --color-magenta-400: #E266D8;
  --color-magenta-500: #DB40CE;
  --color-magenta-600: #BE24B2;
  --color-magenta-700: #8F1B85;
  --color-magenta-800: #5F1259;
  --color-magenta-900: #30092C;
}