/* ############################### **
   Standard Styles               
** ############################### */

@theme {
  /* Spacing (Generates p-*, m-*, gap-*, w-*, h-*, etc.) */
  --spacing-3xs: var(--setup-spacing-3xs);
  --spacing-2xs: var(--setup-spacing-2xs);
  --spacing-xs: var(--setup-spacing-xs);
  --spacing-s: var(--setup-spacing-s);
  --spacing-m: var(--setup-spacing-m);
  --spacing-l: var(--setup-spacing-l);
  --spacing-xl: var(--setup-spacing-xl);
  --spacing-2xl: var(--setup-spacing-2xl);
  --spacing-3xl: var(--setup-spacing-3xl);
  --spacing-4xl: var(--setup-spacing-4xl);

  --spacing-sidebar-files: var(--setup-spacing-sidebar-files);

  /* Standard Heights */
  /* main icon size */
  --spacing-main-2xs: 1.1875rem;
  /* tag size */
  --spacing-main-xs: 1.25rem;
  /* small button and file size */
  --spacing-main-s: 1.875rem;
  /* regular button size */
  --spacing-main-m: 2.8125rem;
  /* content header and file preview size */
  --spacing-main-l: var(--setup-spacing-3xl);
  /* not in use at the moment: --height-main-xl: var(--setup-spacing-4xl); */

  --spacing-main-5xl: 43.75rem;

  /* Border Radius (Generates rounded-*) */
  --radius-m: var(--setup-radius-m);
  --radius-l: var(--setup-radius-l);


}

:root {

  /* --border-width-1: 1px; */
  --border-width-2: 5px;

  /* Spacing (Generates p-*, m-*, gap-*, w-*, h-*, etc.) */
  --setup-spacing-3xs: 0.125rem;
  --setup-spacing-2xs: 0.25rem;
  --setup-spacing-xs: 0.375rem;
  --setup-spacing-s: 0.5rem;
  --setup-spacing-m: 0.625rem;
  --setup-spacing-l: 0.9375rem;
  --setup-spacing-xl: 1.25rem;
  --setup-spacing-2xl: 2.1875rem;
  --setup-spacing-3xl: 3.4375rem;
  --setup-spacing-4xl: 4.375rem;

  --setup-spacing-sidebar-files: var(--setup-spacing-3xs);

  /* Border Radius (Generates rounded-*) */
  --setup-radius-m: 0.5rem;
  --setup-radius-l: 1.125rem;
}